$breakPoint: 640px;
$contentMaxWidth: 880px;
$cBlack: black;
$cBlackBg: #333333;
$cWhite: white;
$cTableBg: #6D6D6D; 
$cTableBorder: #707070;
$cBlue: #45CCC4;
$cLightblue: #ECFCFB;
$cYellow: #FFFF00;
$cRedBg: #EB4E45;
$cBlueBg: #0158A8;
$cGray: #F5F5F5;
