@use "component" as *;

.header{
    padding: 0 20px;
    position: relative;
    background-image: url(images/mv-sp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    @media screen and (min-width: $breakPoint){
        background-image: url(images/mv.png);
        height: 800px;
    }

    & .title{
        padding-top: 22px;
        margin-bottom: 36px;
        @media screen and (min-width: $breakPoint){
            margin-bottom: 84px;
        }
    }

    & .copy{
        width: 210px;
        @media screen and (min-width: $breakPoint){
            width: 413px;
        }
    }



    & .badge{
        position: absolute;
        top: 370px;
        right: 16px;

        & .badge-img{
            width: 180px;
            height: 180px;
        }

        @media screen and (min-width: $breakPoint){
            top: 536px;
            right: 28px;
            & .badge-img{
                width: 290px;
                height: 290px;
            }
        }
    }
}

.introduction{
    padding: 72px 20px 0 20px;

    &__title{
        margin-bottom: 37px;

        & .title-img{
            margin: 0 auto;
            width: 350px;
        }
    }

    &__subtitle{
        color: $cBlack;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2px;
    }

    &__curriculum{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;

        & .w1, .w2{
            width: 24%;
            & .head{
                position: relative;
                width: 100%;
                height: 23px;
                background-color: $cTableBg;
                margin-bottom: 5.8px;

                & .head-img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 24.5px;
                }
                
            }

            & .body{
                position: relative;
                width: 100%;
                height: 69px;
                margin-bottom: 5.8px;
                border: 1px solid $cTableBorder;

                & .body-img{
                    position: absolute;
                    top: 10.5px;
                    left: 0;
                    padding-left: 14.5%;
                }
                
            }
        }

        & .w3-4{
            width: 48%;
            & .head{
                position: relative;
                width: 100%;
                height: 23px;
                background-color: $cTableBg;
                margin-bottom: 5.8px;

                & .head-img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                
            }

            & .body{
                position: relative;
                width: 100%;
                height: 69px;
                margin-bottom: 5.8px;
                border: 1px solid $cTableBorder;

                & .body-img{
                    position: absolute;
                    top: 10.5px;
                    left: 0px;
                    padding-left: 8.8%;
                }
                
            }
        }

        & .QandA{
            position: relative;
            width: 100%;
            height: 23px;
            border: 1px solid $cTableBorder;

            & .QandA-img{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding-left: 3.4%;
            }


        }
    }
}