@use "component" as *;

.visible-sp{
    display: block;
    @media screen and (min-width: $breakPoint){
        display: none;
    }
}

.visible-pc{
    display: none;
    @media screen and (min-width: $breakPoint){
        display: block;
    }
}

.header{
    padding: 0 20px;
    position: relative;
    background-image: url(images/mv-sp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    @media screen and (min-width: $breakPoint){
        background-image: url(images/mv.png);
        height: 800px;
    }

    & .title{
        padding-top: 22px;
        margin-bottom: 36px;
        @media screen and (min-width: $breakPoint){
            margin-bottom: 84px;
        }
    }

    & .copy{
        width: 210px;
        @media screen and (min-width: $breakPoint){
            width: 413px;
        }
    }



    & .badge{
        position: absolute;
        top: 370px;
        right: 16px;

        & .badge-img{
            width: 180px;
            height: 180px;
        }

        @media screen and (min-width: $breakPoint){
            top: 536px;
            right: 28px;
            & .badge-img{
                width: 290px;
                height: 290px;
            }
        }
    }
}

.introduction{
    padding: 72px 20px 0 20px;
    margin: 0 auto;
    max-width: $contentMaxWidth;

    &__title{
        margin-bottom: 37px;

        & .title-img{
            margin: 0 auto;
            width: 350px;
        }

        @media screen and (min-width: $breakPoint){
            padding: 0 44px;
            margin-bottom: 74.3px;

            & .title-img{
                width: 100%;
            }
        }
    }

    &__subtitle{
        color: $cBlack;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2px;
        @media screen and (min-width: $breakPoint){
            font-size: 30px;
            margin-bottom: 11px;
        }
    }

    &__curriculum{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;

        & .w1, .w2{
            width: 24%;
            & .head{
                position: relative;
                width: 100%;
                height: 23px;
                background-color: $cTableBg;
                margin-bottom: 5.8px;

                & .head-img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 24.5px;
                }
                @media screen and (min-width: $breakPoint){
                    height: 40px;
                    & .head-img{
                        width: 42px;
                    }
                }
                
            }

            & .body{
                position: relative;
                width: 100%;
                height: 69px;
                margin-bottom: 5.8px;
                border: 1px solid $cTableBorder;

                & .body-img{
                    position: absolute;
                    top: 10.5px;
                    left: 0;
                    padding-left: 14.5%;
                }

                @media screen and (min-width: $breakPoint){
                    height: 120px;
                    & .body-img{
                        top: 18.3px;
                        width: calc(14.5% + 58.1px);
                    }
                }
                
            }
        }

        & .w3-4{
            width: 48%;
            & .head{
                position: relative;
                width: 100%;
                height: 23px;
                background-color: $cTableBg;
                margin-bottom: 5.8px;

                & .head-img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                @media screen and (min-width: $breakPoint){
                    height: 40px;
                    & .head-img{
                        width: 74px;
                    }
                }
                
            }

            & .body{
                position: relative;
                width: 100%;
                height: 69px;
                margin-bottom: 5.8px;
                border: 1px solid $cTableBorder;

                & .body-img{
                    position: absolute;
                    top: 10.5px;
                    left: 0px;
                    padding-left: 8.8%;
                }
                @media screen and (min-width: $breakPoint){
                    height: 120px;
                    & .body-img{
                        top: 18.3px;
                        width: calc(8.8% + 209.5px);
                    }
                }
                
            }
        }

        & .QandA{
            position: relative;
            width: 100%;
            height: 23px;
            border: 1px solid $cTableBorder;

            & .QandA-img{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding-left: 3.4%;
            }
            @media screen and (min-width: $breakPoint){
                height: 40px;
                & .QandA-img{
                    width: calc(3.4% + 474.5px);
                }
            }


        }
        @media screen and (min-width: $breakPoint){
            padding: 0 117px;
        }
    }
}

.course{
    padding: 0 20px;
    margin: 0 auto;
    max-width: $contentMaxWidth;

    &__title{
        position: relative;
        margin-bottom: 113.5px;

        & .title-img{
            margin: 0 auto;
            width: 350px;
        }

        &::after{
            content: '';
            position: absolute;
            top: 71.5px;
            left: 50%;
            transform: translate(-50%);
            width: 180px;
            height: 25.5px;
            background-color: $cBlue;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
        }

        @media screen and (min-width: $breakPoint){
            padding: 0 140px;
            margin-bottom: 184px;

            & .title-img{
                width: 100%;
            }

            &::after{
                top: 132px;
                width: 341px;
                height: 48px;
            }
        }
    }

    &__detail{
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $breakPoint){
            flex-direction: row;
            justify-content: space-between;
        }

    }

    &__group, &__online{
        padding: 0 20px;

        &__title{
            position: relative;
            width: 100%;
            height: 137.4px;
            margin: 0 auto 20px auto;

            &__icon{
                position: absolute;
                top: -37.2px;
                left: 50%;
                transform: translateX(-50%);
                height: 55.5px;
            }

            &__subtitle{
                position: absolute;
                top: 46.6px;
                left: 50%;
                transform: translateX(-50%);
            }

            &__title{
                position: absolute;
                top: 72px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__img{
            width: 100%;
            margin: 0 auto 18px auto;
            border-radius: 50%;
        }

        &__text{
            font-size: 16px;
            font-weight: 700;
            line-height: 28.8px;
            margin-bottom: 77.6px;
        }
        @media screen and (min-width: $breakPoint){
            flex: 1;
            padding: 0 40px;

            &__title{
                height: 168px;

                &__icon{
                    top: -45.4px;
                    height: 68px;
                }

                &__subtitle{
                    top: 57px;
                    height: 16.6px;
                }

                &__title{
                    top: 88px;
                    height: 26.1px;
                }
            }
        }
    }

    &__group__title{
        background-color: $cRedBg;
    }
    &__online__title{
        background-color: $cBlueBg;
    }
}

.feature{

    & .bg{
        &.blue{
            background-color: $cBlue;
        }
        &.lightblue{
            background-color: $cLightblue;
        }
    }

    &__summary{
        padding: 0 20px;
        margin: 0 auto;
        max-width: $contentMaxWidth;

        &__title{
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            width: 206.8px;            
            @media screen and (min-width:$breakPoint){
                top: -72px;
                width: 308.2px;
            }
        }

        &__caption{
            padding-top: 83px;
            margin-bottom: 48px;
            font-size: 19px;
            font-weight: 700;
            color: $cBlack;
            text-align: center;
            letter-spacing: 8%;

            @media screen and (min-width:$breakPoint){
                padding-top: 97px;
                font-size: 24px;
            }
        }

        &__itemlist{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            padding-left: 0;
            padding-bottom: 50px;
        }

        &__item{
            margin-bottom: 10px;
            @media screen and (min-width:$breakPoint){
                margin-bottom: 30px;
            }
        }
    }

    & .curriculum{
        padding-top: 50px;

        &__lineup{
            padding: 0 20px;
            max-width: $contentMaxWidth;
            margin: 0 auto;
        }

        &__title{
            margin-bottom: 25px;
        }
        &__caption{
            font-size: 14px;
            color: $cBlack;
            margin-bottom: 40px;
            @media screen and (min-width:$breakPoint){
                margin: 0 auto 40px auto;
                text-align: center;
            } 
        }
        &__list{          
            &__title{
                font-size: 13px;
                text-align: center;
                background-color: $cRedBg;
                color: $cWhite;
                margin-bottom: 10px;
            }
            &__img{
                margin-bottom: 10px;
            }
            &__body{
                font-size: 12px;
                margin-bottom: 40px;
            }

            &.normal{
                @media screen and (min-width:$breakPoint){
                    width: 380px;
                    margin: 0 auto;
                } 
            }

            &.row{
                display: flex;
                flex-direction: column;
                @media screen and (min-width:$breakPoint){
                    flex-direction: row;
                    justify-content: space-between;
                }  
                & .wrap{
                    @media screen and (min-width:$breakPoint){
                        width: 380px;
                    } 
                    & .curriculum__list__body{
                        padding: 0 20px;
                } 
                }
            }
        }
        &__more{
            display: block;
            text-align: center;
            margin-bottom: 40px;

            &__text{
                display: inline;
                position: relative;
                font-size: 14px;
                color: $cBlack;

                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -15.5px;
                    transform: translateY(-50%) rotate(45deg);
                    width: 7px;
                    height: 7px;
                    border-top: 1px solid $cBlack;
                    border-right: 1px solid $cBlack;

                }
            }
        }
        &__intro{
            padding: 40px 20px;
            margin: 0 auto;
            max-width: $contentMaxWidth;

            & .wrap{
                max-width: $contentMaxWidth;
                margin: 0 auto;
            }
            
            &__title{
                font-size: 14px;
                font-weight: bold;
                color: $cBlack;
                padding: 13px 0;
                margin-bottom: 25px;
                text-align: center;
                border-top: 1px solid $cBlack;
                border-bottom: 1px solid $cBlack;
            }

            &__detailimg{
                margin-bottom: 30px;
            }

            &__point{
                display: flex;
                flex-direction: column;
                @media screen and (min-width:$breakPoint){
                    flex-direction: row;
                    justify-content: space-between;
                }  
            }

            &__pointimg{
                margin-bottom: 20px;
                @media screen and (min-width:$breakPoint){
                    width: 260px;
                    margin-bottom: 0;
                    margin-right: 10px;
                }  
            }
            &__pointdescription{
                display: flex;
                flex-direction: column;
                @media screen and (min-width:$breakPoint){
                    width: 522px;
                    justify-content: center;
                }  
            }
            &__pointtitle{
                font-size: 16px;
                font-weight: bold;
                color: black;
                margin-bottom: 17px;
            }
            &__pointbody{
                font-size: 14px;
                color: black;

                & strong{
                    background-color: $cYellow;
                }
            }
        }
    }

    & .confidence{
        padding-top: 50px;
        margin-bottom: 50px;

        &__title{
            padding: 0 20px;
            max-width: $contentMaxWidth;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        &__caption{
            font-size: 14px;
            color: $cBlack;
            margin-bottom: 40px;
            padding: 0 20px;
            max-width: $contentMaxWidth;
            @media screen and (min-width:$breakPoint){
                margin: 0 auto 40px auto;
                text-align: center;
            } 
        }
    }

    & .teacher{
        padding: 0 20px;
        max-width: $contentMaxWidth;
        margin: 0 auto;

        &__title{
            margin-bottom: 25px;
        }
        &__caption{
            font-size: 14px;
            color: $cBlack;
            margin-bottom: 40px;
            @media screen and (min-width:$breakPoint){
                margin: 0 auto 40px auto;
                text-align: center;
            } 
        }
        &__intro{
            &__title{
                font-size: 14px;
                font-weight: bold;
                color: $cBlack;
                padding: 13px 0;
                margin-bottom: 25px;
                text-align: center;
                border-top: 1px solid $cBlack;
                border-bottom: 1px solid $cBlack;
            }

            &__body{
                list-style: none;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                @media screen and (min-width:$breakPoint){
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                } 
            }

            &__item{
                padding: 20px;
                background-color: $cGray;
                margin-bottom: 30px;
                @media screen and (min-width:$breakPoint){
                    width: 31%;
                }

                &__subject{
                    display: inline;
                    background-color: $cBlackBg;
                    color: $cWhite;
                    font-size: 12px;
                    padding: 1px 8px 3px 8px;
                }

                &__name{
                    color: $cBlack;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 12px 0 14px 0;
                }

                &__comment{
                    color: $cBlack;
                    font-size: 14px;
                }
            }
        }
        &__more{
            display: block;
            text-align: center;
            margin-bottom: 40px;

            &__text{
                display: inline;
                position: relative;
                font-size: 14px;
                color: $cBlack;

                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -15.5px;
                    transform: translateY(-50%) rotate(45deg);
                    width: 7px;
                    height: 7px;
                    border-top: 1px solid $cBlack;
                    border-right: 1px solid $cBlack;

                }
            }
        }
    }


}